body{
  font-family:Russo One;
  background-color: gray;
}
.App{
  display: flex;
  justify-content: center;
  margin-top:300px;
}
#drum-pads{
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr ;
}
#drum-machine{
  outline: 5px solid orange;
  position: relative;
  width: 660px;
  text-align: center;
  background-color: #b3b3b3;
}
#drum-machine #drum-pads{
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 10px;
}
#display{
  width: 200px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}
